body{
	background-color: cadetblue !important;
}
.miss{
	background-color: black!important;
/*	outline: white solid 1px;*/
}
.hit{
	background-color: red!important;
	outline: black solid 1px;
}
.damage{
	background-color: green!important;
	outline: white 1px solid;
}

.compMiss{
	background-color: black!important;
	outline: black solid 1px;
}
.ship{
	background-color: silver!important;
}
td{
	border: black solid 1px;
	border-radius: 2px;
	background-color: red;
}

#userTable td{
	transition: border-radius .5s ease;
	transition: transform 1s ease;
	transition: border-radius .2s ease-out;
	transform: scale 2s ease-in-out;
}

#userTable td:hover{
	outline: rgba(255,255,255,.3) solid 1px;	
	border-radius: 20px;
	transition: .2s transform ease-out;
}
#userTable td.miss:hover{
/*	outline: yellow solid 1px;	*/
	border-radius: 0px;
}

#userTable td.damage:hover{
	outline: white solid 1px;	
	border-radius: 10px;
}
#userTable{
	  background: darkslategray;
}
.damage.animate {
    -webkit-animation:swing 1000ms ease-out;
    -webkit-transform-origin:center;
}

 @-webkit-keyframes swing  
{
0% {background-color: rgba(255,255,255,1);transform:rotate(0deg) scale(1);} 

50% {background-color: black;transform:rotate(-90deg) scale(.5);}
75% {background-color: black;transform:rotate(180deg) scale(1.6);}
100% {background-color: green;transform:rotate(180deg) scale(1);}
}

.reveal{
	-webkit-animation: pulse .7s ease;
}

 @-webkit-keyframes pulse  
{
0% {background-color: rgba(255,255,255,1);} 
/* 50% {background-color: rgba(150,150,150,.9);}*/
100% {background-color: black;}
}
#round{
	color: white;
}
#userRound{
	color: white;
}
#comRound{
	color: white;
}

.stat{
	background-color: darkslategrey;
	color: white;
}
.icon{
	font-size: 42px!important;
  	padding-top: 5px;
  	margin: 0px;
  	color:#f8f8f8;
  	transition: 4s all;
}
.sendDam{
  	color:black;
}
.damageSus{
  	color:red;
}

.shipIcon:hover{

}